body {
    text-align: center;
    background-image: url(/image/1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: rgb(79, 248, 248);
}
table {
    display: table;
    margin: auto;
    background-color: lightgray;
}

td {
    border: groove;
    height: 25px;
    width: 25px;
    box-shadow: 14px 7px 22px 0px #000000;
}